<main class="container-fluid">
    <div>
        <article class="container-fluid">
            {{#if (compare post.user.username user)  }}
            <fieldset>
                <form>
                    <input value={{post.title}} type="text" id="title-{{post.id}}"/>
                    <textarea id="content-{{post.id}}">{{post.content}}</textarea>
                    <button type="button" id="edit-button">Update</button>
                    <button type="button" id="delete-button">Delete</button>
                </form>
            </fieldset>
            {{else}}
                <h2>{{post.title}}</h2>
                <h4>{{post.user.username}}</h4>
                <h5>{{post.createdAt}}</h5>
                <p>{{post.content}}</p>
            {{/if}}
        </article>
        {{#if loggedIn}}
        <div>
            <fieldset>
                <form>
                    <h3>New Comment:</h3>
                    <textarea id="new-comment" placeholder="Comment here..."></textarea>
                    <button type="submit" id="new-comment-submit">Submit</button>
                </form>
            </fieldset>
        </div>
        {{/if}}
        <div>
            <h3>Comments:</h3>
            {{#each comments as |comment|}}
            <article class="container-fluid">
                <h3>{{comment.user.username}}</h3>
                <h5>{{comment.createdAt}}</h5>
                <p>{{comment.content}}</p>
            </article>
            {{/each}}
        </div>
    </div>
</main>