<main class="container-fluid">
    <div>
        <article class="container-fluid">
            <h2>{{post.title}}</h2>
            <h4>{{post.user.username}}</h4>
            <h5>{{post.createdAt}}</h5>
            <p>{{post.content}}</p>
        </article>
        <article class="container-fluid">
        {{#each comments}}
            <h3>{{comments.user.username}}</h3>
            <p>{{comments.content}}</p>
        {{/each}}
        </article>
    </div>
</main>